$background:green;
$font-color: white;
$margen-normal:10px;
$margen-chico:5px;
body {
    margin: 0;
}

.h {
    font-size: x-large;
}

.hf {
    background-color: $background;
    color: $font-color;
    text-align: center;
    font-weight: bolder;
    font-family: 'Nunito', sans-serif;
    img {
        height: 10vh;
        width: 10vh;
    }
}

.foot {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: auto;
    width: 100%;
}

.balance {
    @media screen and (min-width: 600px) {
        text-align: right;
    }
}

#totalbalance {
    @extend .balance
}

.text-balance {
    text-align: end;
    font-weight: bold;
}